
/* Main Window */
#vkqmMainWindow {
	background-color: white;
}

/* Talk Widget*/
QTabBar::tab {
	border: 1px solid #C4C4C3;
	border-bottom-color: #C2C7CB;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 1px 3px;
	margin-left: 1px;
	margin-bottom: 2px;
}

QTabBar::tab:selected {
	background-color: #D1DAE3;
}

QPushButton { 
	font: 11px;
	margin: 0 1px 0 1px;
	color: white;
	background-color: #6383a8;
	border-style: outset;
	border-radius: 2px;
	border-width: 0px;
    padding: 6px 16px 7px 16px;
}

QPushButton::pressed {
	background-color: #6d8cb0;
}

QPushButton::disabled {
    background-color: grey;
}

QScrollArea { 
   border: 0xp; 
}
QScrollBar:vertical {               
   border: 0px solid #999999;
   background:white;
   width:10px;    
   margin: 0px 0px 0px 0px;
}
QScrollBar::handle:vertical {
   background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
   stop: 0  #2b587a, stop: 0.5#2b587a,  stop:1 #2b587a);
   min-height: 0px;
}
    QScrollBar::add-line:vertical {
        background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
        stop: 0  #2b587a, stop: 0.5 #2b587a,  stop:1 #2b587a);
        height: px;
        subcontrol-position: bottom;
        subcontrol-origin: margin;
    }
    QScrollBar::sub-line:vertical {
        background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
        stop: 0  #2b587a, stop: 0.5 #2b587a,  stop:1 #2b587a);
        height: 0px;
        subcontrol-position: top;
        subcontrol-origin: margin;
    }
   
QScrollBar:horizontal {               
   border: 0px solid #999999;
   background:white;
   width:10px;    
   margin: 0px 0px 0px 0px;
}
QScrollBar::handle:horizontal {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
	stop: 0  #2b587a, stop: 0.5#2b587a,  stop:1 #2b587a);
	min-height: 0px;
}
QScrollBar::add-line:horizontal {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
	stop: 0  #2b587a, stop: 0.5 #2b587a,  stop:1 #2b587a);
	height: px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
	stop: 0  #2b587a, stop: 0.5 #2b587a,  stop:1 #2b587a);
	height: 0px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}